


#For Mac developers
.DS_Store


[Oo]bj/
[Tt]emp/
[Ll]ibrary
 
#These are files in the root folder of the project
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

.vs/*
Library/*

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper



## Ignore Visual Studio files built from VSStudio4Unity

*.suo
*.user
*.sln.docstates
*.DotSettings
*.csproj
